@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    height: 100vh;
    background-color: #F3F3F3;
    padding: 6rem 16rem 4rem 3rem;
    font-family: vazir;

}

.rs-calendar {
    direction: ltr !important;
}

.rs-picker-date > .rs-input-group.rs-input-group-inside .rs-input {
    padding: 10px 15px 10px 5px !important;
}

.rs-calendar-header-has-month:not(.rs-calendar-header-has-time) .rs-calendar-header-month-toolbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
}

html,
:host {
    ::-webkit-scrollbar {
        display: none;
    }

    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}


@font-face {
    font-family: vazir;
    src: url('/fonts/vazir-font-v16.1.0/Vazir.ttf');
}

@font-face {
    font-family: vazirBold;
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Bold.ttf');
}

@font-face {
    font-family: vazirMedium;
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Medium.ttf');
}

.font-bold {
    font-family: vazirBold;
}

.font-semibold {
    font-family: vazirMedium;
}

* {
    box-sizing: border-box;
}

td:first-child {
    border-top-right-radius: 0.75rem;
}

td:last-child {
    border-top-left-radius: 0.75rem;
}

td:first-child {
    border-bottom-right-radius: 0.75rem;
}

td:last-child {
    border-bottom-left-radius: 0.75rem;
}


.categoryContainer:hover .moreBtn {
    opacity: 1;
    bottom: -1rem;
}