@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    height: 100vh;
    background-color: #F3F3F3;
    padding: 6rem 18rem 4rem 4rem;
    font-family: vazir;
}

@font-face {
    font-family: vazir;
    src: url('/public/fonts/vazir-font-v16.1.0/Vazir.ttf');
}

@font-face {
    font-family: vazirBold;
    src: url('/public/fonts/vazir-font-v16.1.0/Vazir-Bold.ttf');
}

@font-face {
    font-family: vazirMedium;
    src: url('/public/fonts/vazir-font-v16.1.0/Vazir-Medium.ttf');
}

.font-bold{
    font-family: vazirBold;
}

.font-semibold{
    font-family: vazirMedium;
}

* {
    box-sizing: border-box;
}

td:first-child {
    border-top-right-radius: 0.75rem;
}

td:last-child {
    border-top-left-radius: 0.75rem;
}

td:first-child {
    border-bottom-right-radius: 0.75rem;
}

td:last-child {
    border-bottom-left-radius: 0.75rem;
}


.categoryContainer:hover .moreBtn{
   opacity: 1;
   bottom: -1rem;
}

